<div id="message-<%= message.id %>">
  <small>
    <% if message.sendable.is_a? (Psychologist)%>
      <%= image_tag cl_image_path(message.sendable.photo.key), alt: 'Psychologist Photo', class: 'icon-chatroom mb-2' %>
    <% elsif message.sendable.is_a? (patient) %>
      <%= image_tag cl_image_path(message.sendable.photo.key), alt: 'Patient Photo', class: 'icon-chatroom mb-2' %>
    <% end %>
    <strong><%= message.sendable.fullname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
