<div class="background-image">
  <div class="content">
    <div class="row align-items-center h-100">
      <!-- Left column with the logo and content -->
      <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
        <!-- Logo 2 -->
        <div class="content-ima mb-3">
          <%= image_tag "logo2.png", loading: 'lazy', class: 'logo2' %>
        </div>
        <!-- Welcome text -->
        <p class="top-content mb-2">
          Bem-vindo ao Seu Espaço de Crescimento e Expressão Pessoal
        </p>
        <!-- Subtitle Content -->
        <p class="subtitle-content mb-4">
          Como psicóloga, meu objetivo é ajudar você a desenvolver habilidades sociais e melhorar sua comunicação, promovendo o bem-estar emocional e a conexão interpessoal. Ofereço um ambiente seguro e acolhedor para explorar seus pensamentos e sentimentos, encontrando caminhos para uma vida mais equilibrada e satisfatória.
        </p>
        <div>

          <!-- Available Appointments Section -->
          <% if psychologist_signed_in? %>
            <!-- List appointments created by the psychologist -->
            <% @appointments.each do |appointment| %>
              <p>
                <%= appointment.start_time.strftime("%B %d, %Y %H:%M") %> - <%= appointment.end_time.strftime("%B %d, %Y %H:%M") %>
                <%= link_to 'Edit', edit_appointment_path(appointment) %>
                <%= link_to 'Delete', appointment_path(appointment), method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
            <%= link_to 'New Appointment Slot', new_appointment_path, class: "booking-btn" %>

          <% elsif patient_signed_in? %>
            <!-- List available appointments for the patient -->
            <% @appointments.each do |appointment| %>
              <% if appointment.status == 'available' %>
                <p>
                  <%= appointment.start_time.strftime("%B %d, %Y %H:%M") %> - <%= appointment.end_time.strftime("%B %d, %Y %H:%M") %>
                  <%= link_to 'Marque sua Consulta', book_appointment_path(appointment), method: :patch, class: "booking-btn" %>
                </p>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Marque sua consulta", new_patient_session_path, class: "booking-btn" %>
          <% end %>
        </div>
      </div>

      <!-- Right column with the image -->
      <div class="col-md-6 d-flex justify-content-center">
        <div class="profile-content">
          <div class="color-layer"></div>
          <div class="color-layer layer-two"></div>
          <%= image_tag 'monaliza3.jpeg', alt: 'Profile Picture', class: 'profile-image' %>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex flex-column justify-content-center align-items-center mb-5 gold-banner">
  <h2 class="banner-title">Quem é Monaliza?</h2>
  <p class="banner-text">
    Gostaria de conhecer mais sobre a sua psicóloga? Ela está aqui para oferecer apoio e orientação, criando um espaço seguro onde você pode falar abertamente sobre suas preocupações e emoções. Com uma abordagem empática e personalizada, ela busca ajudar você a alcançar um melhor equilíbrio emocional e bem-estar.
  </p>
</div>


  <div class="carousel-home">
      <!-- Carousel on the right side -->
      <div class="col-md-8">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
          <!-- Carousel Items -->
          <div class="carousel-inner-home d-flex justify-content-center">
            <div class="carousel-item active">
              <%= image_tag 'monaliza8.jpg', class: 'd-block', alt: 'Image 1' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'monaliza9.jpg', class: 'd-block', alt: 'Image 2' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'monaliza10.jpg', class: 'd-block', alt: 'Image 3' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'monaliza11.jpg', class: 'd-block', alt: 'Image 4' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'monaliza12.jpg', class: 'd-block', alt: 'Image 5' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex flex-column justify-content-center align-items-center mb-5 gold-banner">
  <h2 class="banner-title">Depoimentos</h2>
  <p class="banner-text">
    Nesta seção, você encontrará palavras de pacientes que compartilham suas experiências com Monaliza. Cada depoimento reflete a jornada pessoal de alguém em busca de apoio emocional, autoconhecimento e bem-estar. Leia o que nossos pacientes têm a dizer sobre como Monaliza os ajudou a superar desafios, encontrar equilíbrio e fortalecer sua saúde mental. Essas histórias reais são um testemunho do impacto positivo e transformador do cuidado psicológico.
  </p>
</div>

  <!-- Render Testimonials -->
  <%= render 'testimonials/index' %>
</div>
