<div class="col-md-6 mb-4 <%= 'active' if index == 0 %>" data-update-appointment-target="cardSpecific" data-appointment-id="<%= appointment.id %>">
  <div class="card-previous-appointments <%= 'active' if appointment.confirmation %>">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="card-appointments flex-grow-1">
          <% if appointment.user.photo.attached? %>
            <%= image_tag cl_image_path(appointment.user.photo.key), alt: 'Profile Photo', class: 'img-fluid img-counsellor' %>
          <% else %>
            <%= image_tag asset_path('counsellor.png'), alt: 'Default Profile Photo', class: 'img-fluid img-counsellor' %>
          <% end %>
          <% if appointment.confirmation %>
            <p><strong>Confirmed</strong></p>
          <% else %>
            <p><strong>Pending</strong></p>
          <% end %>
          <div class="card-previous-appointments d-flex justify-content-center">
            <div class="card-body-counsellor <%= "card-body-counsellor-heigth" unless appointment.confirmation %>">
              <h5 class="card-title"><strong><%= appointment.user.fullname %></strong></h5>
              <p class="card-text"><strong><%= appointment.symptom %></strong></p>
              <p> <strong>Schedule Time:</strong>
                  <%= appointment.schedule_time.strftime("%B %d, %Y at %I:%M %p") %>
              </p>
              <% if appointment.confirmation %>
                <% chatroom = ClientChatroom.find_by(user_id: appointment.user_id, counsellor_id: appointment.counsellor_id) %>
                <% if chatroom.present? %>
                  <%= link_to 'Your Talkroom', client_chatroom_path(chatroom), class: 'btn-custom justify-content-center mb-2' %>
                <% elsif %>
                  <%= button_to 'Create Talkroom', client_chatrooms_path(user_id: appointment.user_id, counsellor_id: appointment.counsellor_id), method: :post, class: 'btn-custom justify-content-center mb-2' %>
                <% else %>
                  <p class="text-center">You have no appointments.</p>
                <% end %>
              <% end %>
              <div class="d-flex justify-content-center gap-3">
                <%= link_to edit_appointment_path(appointment) do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to appointment_path(appointment), method: :delete, data: { turbo_method: :delete,  turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-sharp fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </li>
    </ul>
    <div class="appointment-card-details">
    </div>
  </div>
</div>
