<div class="new-appointment">
  <!-- Para Psicólogos -->
  <% if psychologist_signed_in? %>
    <h1>Adicione as Datas, Horas e Dias Disponíveis</h1>
    <%= simple_form_for @appointment, url: appointments_path, method: :post, local: true do |form| %>
      <label for="appointment_booking_date">Selecione um horário disponível:</label>
      <input id="appointment_booking_date" class="form-control datepicker" readonly="readonly" type="text" name="appointment[start_time]"
             data-available-dates="<%= @available_dates.to_json %>">
      <%= form.button :submit, 'Salvar Disponibilidade', class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <!-- Para Pacientes -->
  <% if patient_signed_in? %>
    <h1>Marque Sua Consulta</h1>
    <p>Escolha um horário disponível no calendário abaixo:</p>

    <!-- Calendário com Flatpickr para Pacientes -->
    <%= simple_form_for @appointment, url: appointments_path, method: :post, local: true do |form| %>
      <label for="appointment_booking_date">Selecione um horário disponível:</label>
      <input id="appointment_booking_date" class="form-control datepicker" readonly="readonly" type="text" name="appointment[start_time]"
             data-booked-dates="<%= @booked_dates.to_json %>"
             data-available-dates="<%= @available_dates.to_json %>">
      <%= form.button :submit, 'Marcar Consulta', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>

<!-- Ações adicionais para psicólogos -->
<% if psychologist_signed_in? %>
  <div class="container">
    <h3>Configure sua página de agendamento</h3>
    <%= simple_form_for @appointment, url: appointments_path, method: :post, local: true do |form| %>
      <label for="appointment_booking_date">Selecione um horário disponível:</label>
      <input id="appointment_booking_date" class="form-control datepicker" readonly="readonly" type="text" name="appointment[start_time]"
             data-booked-dates="<%= @booked_dates.to_json %>"
             data-available-dates="<%= @available_dates.to_json %>">
      <%= form.button :submit, 'Marcar Consulta', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>

<!-- Botões de Ação -->
<div class="btn-container">
  <%= link_to 'Voltar para Perfil', profile_patient_path(current_patient), class: 'btn btn-secondary' if patient_signed_in? %>
  <%= link_to 'Voltar para Perfil', profile_psychologist_path(current_psychologist), class: 'btn btn-secondary' if psychologist_signed_in? %>
</div>
