# <h1>New Appointment</h1>

# <%= render 'form', appointment: @appointment %>

# <%= link_to 'Back', appointments_path %>


# <!-- app/views/appointments/new.html.erb -->
# <h1>New Appointment Slot</h1>
# <%= simple_form_for([current_psychologist, @appointment]) do |f| %>
#   <%= f.input :start_time, as: :datetime_local_field %>
#   <%= f.input :end_time, as: :datetime_local_field %>
#   <%= f.input :details %>
#   <%= f.submit "Create Appointment Slot" %>
# <% end %>
