<div class="card-show-container">
  <h1>Detalhes do Compromisso</h1>

  <!-- Exibindo detalhes da consulta -->
    <div class="vector-top-left">
      <%= image_tag 'vector4.png', alt: 'Vector Top Left', class: 'vector-left' %>
    </div>
  <div class="card-show">
      <div class="card-body-show">
          <% if @appointment.psychologist %>
            <h5 class="card-title-show">Consulta com <%= @appointment.psychologist.full_name %></h5>
          <% else %>
            <h5 class="card-title-show">Consulta sem psicólogo associado</h5>
          <% end %>
          <p><strong>Data:</strong> <%= @appointment.start_time.strftime("%B %d, %Y %H:%M") %></p>
          <p><strong>Status:</strong> <%= @appointment.status.capitalize %></p>
          <% if @appointment.patient == current_patient %>
            <!-- Se o paciente for o dono da consulta, pode cancelar -->
            <%= button_to 'Cancel Appointment', cancel_patient_appointment_path(@appointment), method: :post, class: 'btn btn-danger' %>
          <% else %>
            <!-- Exibir mensagem se o paciente não for o dono da consulta -->
            <p>Este compromisso não pertence a você.</p>
          <% end %>

          <%= link_to 'Voltar para o Calendário?', patient_appointments_path(current_patient), class: 'btn btn-secondary mt-3' %>
          <%= link_to 'Voltar para Perfil', profile_patient_path(current_patient), class: 'btn btn-secondary mt-3' %>
      </div>
      <div class="vector-top-right">
        <%= image_tag 'vector.png', alt: 'Vector Top Left', class: 'vector-right' %>
      </div>
  </div>
</div>
