<div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% if @testimonials.present? %>
      <% @testimonials.each_with_index do |testimonial, index| %>
        <li data-bs-target="#testimonialCarousel" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>"></li>
      <% end %>
    <% end %>
  </ol>

  <div class="carousel-container">
    <!-- Carousel Items -->
    <div class="carousel-inner-home">
      <% if @testimonials.present? %>
        <% @testimonials.each_with_index do |testimonial, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <div class="card text-center">
              <!-- Patient's Photo -->
              <div class="img-depoiments">
                <img src="<%= testimonial.patient.photo.attached? ? cl_image_path(testimonial.patient.photo.key) : asset_path('default_patient.png') %>"
                     class="img-fluid patient-photo" alt="<%= testimonial.patient.full_name %>">
              </div>

              <div class="card-body">
                <!-- Patient's Full Name -->
                <h5 class="card-title"><%= testimonial.patient.full_name %></h5>

                <!-- Psychologist's Full Name -->
                <% if testimonial.psychologist %>
                  <p class="text-muted">Referindo-se ao psicólogo: <%= testimonial.psychologist.full_name %></p>
                <% else %>
                  <p class="text-muted">Sem psicólogo associado.</p>
                <% end %>

                <!-- Testimonial Content -->
                <p class="card-text"><%= testimonial.content %></p>

                <!-- Edit and Delete Buttons (for Patients and Psychologists) -->
                <% if patient_signed_in? || psychologist_signed_in? %>
                  <% if current_patient == testimonial.patient || psychologist_signed_in? %>
                    <%= link_to 'Delete', testimonial_path(testimonial), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No testimonials available.</p>
      <% end %>
    </div>

  </div>
</div>
